<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.meapunto"
        versionCode = "10"
        version     = "0.10" >

    <!-- versionCode is optional and Android only -->

    <name>MeApunto!</name>

    <description>
        Busca, organiza y publica eventos deportivos en Madrid.
    </description>

    <author href="https://leandro.vc" email="leandro@leandro.org">
        Leandro713
    </author>

    <!--
      If you do not want any permissions to be added to your app, add the
      following tag to your config.xml; you will still have the INTERNET
      permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions" value="none"/>

    <!-- to enable individual permissions use the following examples -->
    <feature name="http://api.phonegap.com/1.0/notification"/>
    <feature name="http://api.phonegap.com/1.0/network"/>

    <plugin name="cordova-plugin-whitelist" version="~1" />
    <allow-navigation href="http://dev-me-apunto.pantheon.io/*" />

        <!-- iPhone 6 / 6+ -->
        <icon src="/icons/esparta-60@3x.png" platform="ios" width="180" height="180" />

        <!-- iPhone / iPod Touch  -->
        <icon src="/icons/esparta-60.png" platform="ios" width="60" height="60" />
        <icon src="/icons/esparta-60@2x.png" platform="ios" width="120" height="120" />

        <!-- iPad -->
        <icon src="/icons/esparta-72.png" platform="ios" width="76" height="76" />
        <icon src="/icons/esparta-72@2x.png" platform="ios" width="152" height="152" />


        <icon src="/icons/esparta-48.png" platform="android" qualifier="ldpi" />
        <icon src="/icons/esparta-60.png" platform="android" qualifier="mdpi" />
        <icon src="/icons/esparta-72.png" platform="android" qualifier="hdpi" />
        <icon src="/icons/esparta-96.png" platform="android" qualifier="xhdpi" />
        <icon src="/icons/esparta-128.png" platform="android" qualifier="xxhdpi" />
        <icon src="/icons/esparta-128.png" platform="android" qualifier="fr-xxhdpi" />

        <!-- Windows Phone -->
        <icon src="/icons/esparta-128.png" platform="winphone" />




</widget>
