<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.meapunto"
        versionCode = "10"
        version     = "0.10" >

    <!-- versionCode is optional and Android only -->

    <name>¡Me apunto!</name>

    <description>
        Busca, organiza y publica eventos deportivos en Madrid.
    </description>

    <author href="https://leandro.vc" email="leandro@leandro.org">
        Leandro713
    </author>

    <!--
      If you do not want any permissions to be added to your app, add the
      following tag to your config.xml; you will still have the INTERNET
      permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions" value="none"/>

    <!-- to enable individual permissions use the following examples -->
    <feature name="http://api.phonegap.com/1.0/notification"/>
    <feature name="http://api.phonegap.com/1.0/network"/>


    <allow-navigation href="http://dev-me-apunto.pantheon.io/*" />
    <preference name="stay-in-webview" value="true" />
</widget>
